<div class="container">
  <%= simple_form_for @search, url: searches_path, method: "POST", html: { class: '' } do |f| %>
    <div class="row">
      <div class="col-md-4">
        <%= f.input :category, collection: SearchesController::CHUCK_CATEGORIES, input_html: {value: "", } %>  
      </div>
      <div class="col-md-4">
        <%= f.input :text, input_html: {value: ""} %>  
      </div>
      <div class="col-md-4">
        <%= f.input :email, input_html: {value: ""} %>  
      </div>
    </div>
    <%= f.submit t(:submit), class: "btn btn-primary btn-block" %>
  <% end %>
</div>

<hr>

<h1><%= t :searches %></h1>

<table class="table table-bordered text-left">
  <tr class="thead-dark">
    <th><%= t :categories %></th>
    <th><%= t :text %></th>
    <th><%= t :saying %></th>
  </tr>
  <% @searches.each do |search| %>
    <tr>
      <td><%= search.category%></td>
      <td><%=search.text %></td>
      <td><%=search.data["value"] %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @searches %>